<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="DBRep.config" >
    <add key="SystemLogPath" value=".\log\" />
    <add key="SystemLogFileName" value="SystemLog" />
    <add key="SystemLogFileTerm" value="1" />
    <add key="MailSmtp" value="DEV020" />
    <add key="MailFrom" value="m.hayabuchi@systemthink.co.jp" />
    <add key="MailFromName" value="EXシアター予約管理システム" />
    <add key="SmtpAuth" value="0" />
    <add key="SmtpUserId" value="" />
    <add key="SmtpPass" value="" />
    <add key="DbString" value="Server=192.168.23.208;Port=5434;User Id=ext;Password=ext;Database=ext_db;CommandTimeout=180;" />
    <add key="LogOutputLevel" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="batchLogPath" value="C:\ext\logs\" />
    <add key="downloadPath" value="" />
    <add key="formatpath" value=".\format\" />
    <add key="csvSeikyusakiBusyoPath" value=".\GROUP_FILE\施設予約システム向けグループ内請求先部署.csv" />    <!-- 2015.01.21 ADD y.morooka グループ請求対応 -->
    <add key="csvSeikyuNaiyoPath" value=".\GROUP_FILE\施設予約システム向けグループ内請求内容マスタ.csv" />    <!-- 2015.01.21 ADD y.morooka グループ請求対応 -->
    <add key="configrationflg" value="1"/>
    <add key="MainDB" value="1" />    <!-- メインＤＢ (1:1号機、2:2号機) -->
    <add key="OpLogPath" value=""/>
    <add key="OpLogUserId" value="Administrator" />
    <add key="OpLogPass" value="Dev0210414" />
    <add key="CapturePath" value="\\dev021\EXT_Capture" />
    <add key="CaptureUserId" value="Administrator" />
    <add key="CapturePass" value="Dev0210414" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>